
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}


.product {
    border: 3px solid #f275ca;
    padding: 10px;
    text-align: center;
    background-color: #f0bdd7;
    transition: transform 0.2s;
}

.product:hover {
    transform: scale(1.05);
}


.product img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}


.product h2 {
    font-size: 18px;
    margin: 10px 0;
}


.product h3 {
    font-size: 14px;
    color: #666;
}
